<div id="content" class="col-lg-10 col-sm-11">
    <div class="row">		
        <div class="col-lg-12" ng-controller="GroupListController">
            <ul class="list">
                <li>
                    <img class="avatar" src="/app/images/theme/avatar3.jpg" alt="avatar">
                    <span class="name">Ann Kovalsky</span>
                    <span class="time">1:32PM</span>
                    <div class="action"><a href="#"><i class="icon-chevron-right"></i></a></div>
                    <div class="message">Meeting Room #1</div>
                </li>
                <li>
                    <img class="avatar" src="/app/images/theme/avatar4.jpg" alt="avatar">
                    <span class="name">Megan Abbott</span>
                    <span class="time">1:32PM</span>
                    <div class="action"><a href="#"><i class="icon-chevron-right"></i></a></div>
                    <div class="message">Boardroom</div>
                </li>
                <li>
                    <img class="avatar" src="/app/images/theme/avatar3.jpg" alt="avatar">
                    <span class="name">Ann Kovalsky</span>
                    <span class="time">1:32PM</span>
                    <div class="action"><a href="#"><i class="icon-chevron-right"></i></a></div>
                    <div class="message">Meeting Room #6</div>
                </li>
                <li>
                    <img class="avatar" src="/app/images/theme/avatar.jpg" alt="avatar">
                    <span class="name">Łukasz Holeczek</span>
                    <span class="time">1:32PM</span>
                    <div class="action"><a href="#"><i class="icon-chevron-right"></i></a></div>
                    <div class="message">Cafe</div>
                </li>
                <li>
                    <img class="avatar" src="/app/images/theme/avatar4.jpg" alt="avatar">
                    <span class="name">Megan Abbott</span>
                    <span class="time">1:32PM</span>
                    <div class="action"><a href="#"><i class="icon-chevron-right"></i></a></div>
                    <div class="message">Out of Office.</div>
                </li>
            </ul>
        </div><!--/col-->
    </div><!--/row-->
</div>