<div class="container">
		<div class="row">
				<h1 id="login-title">locio</h1>
			
				<div class="login-box" ng-class="{'has-error': isError}">
					<h2 class="control-label">Login</h2>
					<form class="form-horizontal" ng-submit="attemptLogin()">
						<fieldset>
							
                            
						    <input class="input-large col-xs-12" name="username" id="username" type="text" placeholder="type username" ng-model="username"/>

							<input class="input-large col-xs-12" name="password" id="password" type="password" placeholder="type password" ng-model="password"/>
                                
							<div class="clearfix"></div>
							
							<label class="remember" for="remember"><input type="checkbox" id="remember" /> Remember me</label>
							
							<div class="clearfix"></div>
							
							<button type="submit" class="btn btn-primary col-xs-12">Login</button>
						</fieldset>	

					</form>
					<hr>
					<h3>Forgot Password</h3>	
				</div>
			
			
				</div><!--/row-->		
		
	</div><!--/container-->
