#mainnav .row {
    position: relative;
}
@media only screen and (max-width: 767px) {
    .header-nav {
        display: none;
    }
    #sidebar-left {
        padding: 0 !important;
    }
    .nav {
         padding: 10px !important;
    }
    .navbar-inner {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    #small-navbar-toggle {
        right: 0;
        top: -4px;
        padding: 17px 25px 13px 25px;
        margin-top: 0;
        margin-right: 0;
    }

    body #sidebar-left {
        transition: -webkit-transform .25s ease;
        -webkit-transform: translate3d(-200px, 0, 0);
        position: absolute;
        left: 0px;
        width:200px;
        top: 0;
        bottom: 0;
        z-index: 9;
    }
    body .sidebar-nav.collapse {
        display: block !important;
    }

    body.small-nav-expanded #sidebar-left  {
        -webkit-transform: translate3d(0, 0, 0);
    }

    #content-area {
        -webkit-transform: translate3d(0, 0, 0);
        transition: -webkit-transform .25s ease;
    }

    body.small-nav-expanded #content-area {
        
        
        -webkit-transform: translate3d(200px, 0, 0);
    }

    footer {
        display: none;
    }

    .animate-enter {
        -webkit-filter: blur(0px);
         -webkit-transition: 0.3s ease-in all;
	    transition: all 0.3s ease-in 0.3s;
    }
 
    .animate-enter.animate-enter-active {
        -webkit-filter: blur(0px);
    }

    .animate-leave {
        -webkit-filter: blur(0px);
        -webkit-transition: all 0.3s ease-out;
	    transition: 0.3s ease-out all;
    }

    .animate-leave.animate-leave-active {
        -webkit-filter: blur(0px);
    }

}



ul.list {
  height: 516px;
  overflow-y: scroll;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.list li {
  position: relative;
  padding: 12px 10px 15px 60px;
  border-bottom: 1px solid #e4e6eb;
}
ul.list li img.avatar {
  top: 10px;
  left: 10px;
  position: absolute;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  width: 40px;
  margin-right: 10px;
}
ul.list li .name {
  font-weight: bold;
  text-transform: uppercase;
}
ul.list li .time {
  font-weight: bold;
  right: 10px;
  position: absolute;
  color: #c7cbd5;
  font-size: 11px;
}
ul.list li .action {
  font-weight: bold;
  right: 10px;
  position: absolute;
  font-size: 11px; 
}
ul.list li .message {
  
  font-size: 12px;
}
ul.list li:not(.loading) { cursor: pointer;}


a.navbar-brand span {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

/*.dropmenu + ul {
    -webkit-transition: max-height 2s ease-in;
    max-height: 0;
}

ul.expanded {
    -webkit-transition: max-height 2s ease-in;
    max-height: 1000px;    
}
    */

/* Fixed header */
#mainnav {
    margin-top: 40px;
}

#mainheader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
}